__pycache__/
**/__pycache__/
venv/
main/finetune/
main/trained_models/
main/trained_models_test/
main/logs/
main/videos/
main/tmp/
utils/figures/
logs/*
trained_models/*
main/*.pt
main/enemy_policy*.pt
*.png
main/*.png
main/ee.py
main/wandb/*
main/benchmark_models/*
main/trained_models/tasks*
main/*task
wandb/*
.vscode/
*.pyc
wandb/
*.log
main/*.out
main/common/justin/derivative_free_spar_parallel.py
main/common/justin/parallel_rollout_utils.py
mainmyfile.txt
main/myfile.txt